<div class="login-container">
    <div class="login-header login-caret">
		
		<div class="login-content">
			<a ui-sref="app.dashboard" class="logo">
				<h1>
				    <img src="/images/icon.png" width="35" alt="" />
				    Cody
				</h1>
			</a>
			
			<p class="description">Dear user, log in to access the admin area!</p>
			
			<!-- progress bar indicator -->
			<div class="login-progressbar-indicator">
				<h3>43%</h3>
				<span>logging in...</span>
			</div>
		</div>
	</div>
	<div class="login-progressbar">
    		<div></div>
    	</div>
		
	<div class="login-form">
		<div class="login-content" ui-view="main">
			
			
			
		</div>
	</div>
</div>